/* BLOC */

/* Couleur pour mes liens */

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:blue;
}

/* .Classe */
.row{
    margin-right: 0px !important;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    background-color: rgb(12, 160, 173);
}

.footer{
    background-color: rgb(12, 160, 173);
}

.footer{
    background-color: rgb(45, 59, 212);
}


<<<<<<< HEAD

=======
>>>>>>> fee983c3f4d433618a49019f0b53814bed45727e
/* #ID */

#background{
    height: auto;
    width: auto;
    text-align: center;
    background-image: url(/img/whiteBackground.jpg);
    background-repeat: repeat;
    background-size:contain;
    background-position: center;
}

#imgAuto{
    width:auto;
    height:auto;
}

#img110{
    width:110%;
    height:100%;
}