/* BLOC */

/* Couleur pour mes liens */
a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:blue;
}

/* .Classe */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    background-color: rgb(45, 59, 212);
}


/* #ID */